# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3        # optional if you don't want to push database
/staticfiles/     # optional if you will run collectstatic on server

# IDE / Editor
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
